<div class="registration-form">
  <div class="registration-form-header">
    <h1>Join Football Tournaments And Leagues Manager</h1>
  </div>
  <div class="registration-form-body">
    <form #registrationForm="ngForm" (ngSubmit)="registerUser(registrationForm)" method="post">
      <label for="userName">Enter your username</label>
      <div class="username-form">
        <i class="bi" [ngClass]="{
          'bi-arrow-right-short': iconTypeForUsername === 0,
          'bi-x': iconTypeForUsername === 1,
          'bi-check': iconTypeForUsername === 2}"></i>
        <input type="text" [(ngModel)]="username" name="userName" (ngModelChange)="onInputChange('userName', username)" (focus)="isUsernameFocused = true" (blur)="isUsernameFocused = false" required>
        <div class="error-form" *ngIf="isUsernameFocused && registrationForm.controls['userName'].errors?.['required']">
          Username is required.
        </div>
        <div class="error-form" [hidden]="isUsernameCorrect" *ngIf="isUsernameFocused && form.controls['userName'].errors?.['invalidUsername']">
          Invalid username (must be 8-20 characters long) or username is already taken.
        </div>
      </div>
      <div class="firstname-field">
        <label for="firstName">Enter your firstname</label>
        <i class="bi" [ngClass]="{
          'bi-arrow-right-short': iconTypeForFirstname === 0,
          'bi-x': iconTypeForFirstname === 1,
          'bi-check': iconTypeForFirstname === 2}"></i>
        <input id="firstname" type="text" [(ngModel)]="firstname" name="firstName" (ngModelChange)="onInputChange('firstName', firstname)" (focus)="isFirstnameFocused = true" (blur)="isFirstnameFocused = false" required>
        <div class="error-form" *ngIf="isFirstnameFocused && registrationForm.controls['firstName'].errors?.['required']">
          First name is required.
        </div>
        <div class="error-form" [hidden]="isFirstnameCorrect" *ngIf="isFirstnameFocused && form.controls['firstName'].errors?.['invalidFirstOrLastName']">
          Invalid first name.
        </div>
      </div>
      <div class="lastname-field">
        <label for="lastName">Enter your lastname</label>
        <i class="bi" [ngClass]="{
          'bi-arrow-right-short': iconTypeForLastname === 0,
          'bi-x': iconTypeForLastname === 1,
          'bi-check': iconTypeForLastname === 2}"></i>
        <input id="lastname" type="text" [(ngModel)]="lastname" name="lastName" (ngModelChange)="onInputChange('lastName', lastname)" (focus)="isLastnameFocused = true" (blur)="isLastnameFocused = false" required>
        <div class="error-form" *ngIf="isLastnameFocused && registrationForm.controls['lastName'].errors?.['required']">
          Last name is required.
        </div>
        <div class="error-form" [hidden]="isLastnameCorrect" *ngIf="isLastnameFocused && form.controls['lastName'].errors?.['invalidFirstOrLastName']">
          Invalid last name.
        </div>
      </div>
      <label for="emailAddress">Enter your email</label>
      <div class="email-field">
        <i class="bi" [ngClass]="{
          'bi-arrow-right-short': iconTypeForEmail === 0,
          'bi-x': iconTypeForEmail === 1,
          'bi-check': iconTypeForEmail === 2}"></i>
        <input id="email" type="email" [(ngModel)]="email" name="emailAddress" (ngModelChange)="onInputChange('emailAddress', email)" (focus)="isEmailFocused = true" (blur)="isEmailFocused = false" required>
        <div class="error-form" *ngIf="isEmailFocused && registrationForm.controls['emailAddress'].errors?.['required']">
          Email is required
        </div>
        <div class="error-form" [hidden]="isEmailCorrect" *ngIf="isEmailFocused && form.controls['emailAddress'].errors?.['invalidEmail']">
          Incorrect email address.
        </div>
      </div>
      <label for="password">Enter your password</label>
      <div class="password-field">
        <i class="bi" [ngClass]="{
          'bi-arrow-right-short': iconTypeForPassword === 0,
          'bi-x': iconTypeForPassword === 1,
          'bi-check': iconTypeForPassword === 2}"></i>
        <input id="pasword" type="{{ isPasswordVisible ? 'text' : 'password'}}" [(ngModel)]="password" name="password" (ngModelChange)="onInputChange('password', password)" (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" required>
        <i class="bi" [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibilty()"></i>
        <div id="password-strength-section">
          <app-strength-meter [password]="password"></app-strength-meter>
        </div>
        <div class="error-form" *ngIf="isPasswordFocused && registrationForm.controls['password'].errors?.['required']">
          Password is required
        </div>
        <div class="error-form" [hidden]="isPasswordCorrect" *ngIf="isPasswordFocused && form.controls['password'].errors?.['invalidPassword']">
          Password must contain at least 8 characters, including at least one digit, one lowercase and uppercase letter, and one special character.
        </div>
      </div>
      <span>Already have an account? <a id="link" href="/">Sign in →</a></span>
      <button id="create-account-btn" type="submit" [disabled]="!isCreateAccountButtonEnable">Create account</button>
    </form>
  </div>    
</div>
