<div class="create-team-form-body">

  <div class="team-create-header">
    <span> Create Team </span>
    <button mat-icon-button class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="create-team-form-container">
    <form #teamForm="ngForm" (ngSubmit)="createTeam(teamForm)" method="post">
      <div>
        <label for="team-name-field">Team name</label>
        <input type="text" [(ngModel)]="name" name="name" (ngModelChange)="onInputChange(name)" (focus)="isTeamNameFocused = true" (blur)="isTeamNameFocused = false" required>
      </div>
      <div class="error-form" *ngIf="!isTeamNameCorrect && isTeamNameFocused">
        Team name is required.
      </div>
      <div class="button-container">
        <button mat-raised-button type="submit" [disabled]="!isTeamNameCorrect">Create team</button>
        <button mat-raised-button type="button" (click)="closePopup()">Cancel</button>
      </div>
    </form> 
  </div>
  
</div>
