<div>
  <div class="button-container">
    <button mat-raised-button (click)="openCreateTournamentPopup()"><i class="material-icons">add</i></button>
  </div>
  <div class="tournaments-container">
    <mat-table [dataSource]="tournamentDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="tournamentName">
        <mat-header-cell class="tournament-name-cell" *matHeaderCellDef> Tournament Name </mat-header-cell>
        <mat-cell class="tournament-name-cell" *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Tournament Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span *ngIf="element.type === groupAndKnockout" matTooltip="Group and Knockout"> G&K </span>
          <span *ngIf="element.type === singleElimination" matTooltip="Single Elimination"> SE </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfTeams">
        <mat-header-cell *matHeaderCellDef> Number of Teams </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numberOfTeams}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.endDate == null"> - </span>
          <span *ngIf="element.endDate != null"> {{element.endDate}} </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <i *ngIf="element.status == notStarted" class="bi bi-hourglass-top" matTooltip="Not Started"></i>
          <i *ngIf="element.status == inProgress" class="bi bi-hourglass-split" matTooltip="In Progress"></i>
          <i *ngIf="element.status == finished" class="bi bi-hourglass-bottom" matTooltip="Finished"></i>
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="details" >
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="bi bi-chevron-right"></i>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="tournaments-row" (click)="showTournamentDetails(row)"></mat-row>
    </mat-table>
  </div>
</div>