.team-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 3% 3%;
}

.team-info-container {
  flex: 1;
  height: 350px;
  border-right: 1px solid #ccc;
}

.team-info-container > div {
  margin-left: 5px;
}

.current-competitions-container > div {
  margin-left: 15px;
}

.current-competitions-container {
  flex: 1;
  height: 350px;
  border-right: 1px solid #ccc;
}

.squad-overview-container {
  flex: 1;
}

.squad-overview-container .cdk-column-position,
.squad-overview-container .cdk-column-numberOfPlayers {
  text-align: center;
}

p {
  font-size: 15px;
  text-align: justify;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

table {
  width: 100%;
  margin: 10px 5px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

