<div class="team-summary">
  <div *ngIf="team" class="team-info-container">
    <h3>Team Details</h3>
    <div>
      <p>Team name: {{ team.name }}</p>
      <p>Established: {{ team.established | date: 'dd-MM-yyyy' }}</p>
      <p>Squad size: {{ numberOfPlayers }}</p>
      <p>Average age: <span *ngIf="sumAge != null">{{ sumAge/numberOfPlayers | number: '1.0-1' }}</span></p>
      <p>Average height: <span *ngIf="sumHeight != null">{{ sumHeight/numberOfPlayers | number: '1.1-1' }}</span></p>
    </div>
  </div>
  <div class="current-competitions-container">
    <h3>Current Competitions</h3>
    <div>
      <p *ngIf="activeLeague">League: {{ activeLeague.name }}</p>
      <p *ngIf="!activeLeague">Team doesn't take part in any league</p>
      <p *ngIf="activeTournament">Tournament: {{ activeTournament.name }}</p>
      <p *ngIf="!activeTournament">Team doesn't take part in any tournament</p>
    </div>
  </div>

  <div class="squad-overview-container">
    <h3>Squad Overview</h3>
    <table mat-table [dataSource]="playersByPosition" *ngIf="playersByPosition.length > 0" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="numberOfPlayers">
        <th mat-header-cell *matHeaderCellDef> Number of players </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfPlayers}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


