<div class="league-statistic-container">
  <mat-tab-group fitInkBarToContent animationDuration="1500ms">
    <mat-tab label="Players Stats">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1500ms">
        <mat-tab label="Goals">
          <div class="stats-goals-container">
            <mat-table [dataSource]="playersGoalsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let player; let i = index">
                  <ng-container
                    *ngIf="i === 0 || player.goals != playersGoalsDataSource.data[i-1].goals; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.firstName + " " + player.lastName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="goals">
                <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.goals }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="playersGoalsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: playersGoalsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorPlayersGoals [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        
        <mat-tab label="Assists">
          <div class="stats-assists-container">
            <mat-table [dataSource]="playersAssistsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let player; let i = index">
                  <ng-container
                    *ngIf="i === 0 || player.assists != playersAssistsDataSource.data[i-1].assists; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.firstName + " " + player.lastName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="assists">
                <mat-header-cell *matHeaderCellDef> Assists </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.assists }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="playersAssistsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: playersAssistsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorPlayersAssists [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Yellow Cards">
          <div class="stats-yellow-cards-container">
            <mat-table [dataSource]="playersYellowCardsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let player; let i = index">
                  <ng-container
                    *ngIf="i === 0 || player.yellowCards != playersYellowCardsDataSource.data[i-1].yellowCards; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.firstName + " " + player.lastName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="yellowCards">
                <mat-header-cell *matHeaderCellDef> Yellow Cards </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.yellowCards }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="playersYellowCardsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: playersYellowCardsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorPlayersYellowCards [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="Red Cards">
          <div class="stats-yellow-cards-container">
            <mat-table [dataSource]="playersRedCardsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let player; let i = index">
                  <ng-container
                    *ngIf="i === 0 || player.redCards != playersRedCardsDataSource.data[i-1].redCards; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.firstName + " " + player.lastName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="redCards">
                <mat-header-cell *matHeaderCellDef> Red Cards </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.redCards }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="playersRedCardsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: playersRedCardsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorPlayersRedCards [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Teams Stats">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1500ms">
        <mat-tab label="Goals">
          <div class="stats-goals-container">
            <mat-table [dataSource]="teamsGoalsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let team; let i = index">
                  <ng-container *ngIf="i === 0 || team.goalsFor != teamsGoalsDataSource.data[i-1].goalsFor; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="goals">
                <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.goalsFor }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="teamsGoalsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: teamsGoalsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorTeamsGoals [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Wins">
          <div class="stats-wins-container">
            <mat-table [dataSource]="teamsWinsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let team; let i = index">
                  <ng-container *ngIf="i === 0 || team.wins != teamsGoalsDataSource.data[i-1].wins; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="goals">
                <mat-header-cell *matHeaderCellDef> Wins </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.wins }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="teamsGoalsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: teamsGoalsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorTeamsWins [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Losses">
          <div class="stats-losses-container">
            <mat-table [dataSource]="teamsLossesDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
                <mat-cell *matCellDef="let team; let i = index">
                  <ng-container *ngIf="i === 0 || team.losses != teamsGoalsDataSource.data[i-1].losses; else sameRank">
                    {{ i + 1 }}
                  </ng-container>
                  <ng-template #sameRank>
                    {{ i }}
                  </ng-template>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="team">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.teamName }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="goals">
                <mat-header-cell *matHeaderCellDef> Losses </mat-header-cell>
                <mat-cell *matCellDef="let team"> {{ team.losses }} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="teamsGoalsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: teamsGoalsDisplayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginatorTeamsLosses [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>