<div class="auth-form">
  <div class="auth-form-header">
    <h1>Sign in to FTALM</h1>
  </div>
  <div id="login-error-form">
    Incorrect login or password.
  </div>
  <div class="auth-form-body">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" method="post">
      <div>
        <label for="login-field">Username or email address</label>
        <input type="text" autofocus="autofocus" ngModel name="login" required>
      </div>
      <div>
        <div class="password-section">
          <label for="password-field">Password</label>
          <a class="password-link" href="/passwordRecover">Forgot password?</a>
        </div>
        <input type="password" ngModel name="password" required>
      </div>
      <button type="submit">Sign in</button>
    </form>
  </div>
    <div class="create-account-form-body">
      <span> Don't have an account?<a href="/register" class="link">Create it here</a>.</span>
    </div>
</div>