<div class="confirmation-form-body">
  <div class="confirmation-header">
    <span>Confirmation</span>
    <button mat-icon-button class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="confirmation-text">
    <p *ngIf="!disable"> This action cannot be undone!</p>
    <ul *ngIf="warning">
      <li>
        {{object.substring(0,1).toUpperCase() + object.substring(1)}} is still in progress.
      </li>
      <li>
        Deleting an active {{object}} will result in the loss of all related match data and statistics.
      </li>
      <li>
        You will not be able to resume it again.
      </li>
    </ul>
    <p *ngIf="!disable"><b>Are you sure you want to delete this {{object}}?</b></p>
    <p *ngIf="disable">Deletion is not allowed as the team is currently participating in a league or tournament.</p>
  </div>
  <div class="button-container">
    <button mat-raised-button type="delete" [disabled]="disable" (click)="delete()">Delete</button>
    <button mat-raised-button type="button" (click)="closePopup()">Cancel</button>
  </div>
</div>