<div class="match-details-container">
  <div class="match-details-header" *ngIf="match">
      <span class="team">{{ match.homeTeamName }}</span>
      <span class="score">{{ match.homeTeamScore }} - {{ match.awayTeamScore }}</span>
      <span class="team">{{ match.awayTeamName }}</span>
  </div>

  <mat-label>Time line view </mat-label>
  <mat-slide-toggle [(ngModel)]="isTimeLineView"></mat-slide-toggle>

  <div class="card-container" *ngIf="!isTimeLineView">
    <mat-card *ngFor="let event of matchEvents" class="card-event">
      <div class="event-header">
        <div *ngIf="event.type === GOAL_ASSIST_EVENT_ID">
          <fa-icon class="card-icon" [icon]="footballIcon"></fa-icon>
        </div>
        <div *ngIf="event.type === CARD_EVENT_ID">
          <div class="icon-container">
            <div *ngIf="event.details.cardType == 'YELLOW' || event.details.cardType == 'SECOND_YELLOW'" class="square yellow">
              <div *ngIf="event.details.cardType == 'SECOND_YELLOW'" class="square-second-yellow"></div>
            </div>
            <div *ngIf="event.details.cardType == 'RED'" class="square red"></div>
          </div>
        </div>
        <div *ngIf="event.type === SUBSTITUTION_EVENT_ID">
          <div class="icon-container">
            <i class="bi bi-arrow-up card-icon"></i>
            <i class="bi bi-arrow-down card-icon"></i>
          </div>
        </div>
        <span *ngIf="event.type === GOAL_ASSIST_EVENT_ID" class="event-type">GOAL!!!</span>
        <span *ngIf="event.details.cardType == 'YELLOW'" class="event-type">YELLOW CARD</span>
        <span *ngIf="event.details.cardType == 'SECOND_YELLOW' || event.details.cardType == 'RED'" class="event-type">RED CARD</span>
        <span *ngIf="event.type === SUBSTITUTION_EVENT_ID" class="event-type">SUBSTITUTION</span>
        <span class="event-type"> {{ event.details.minute }}' </span>
      </div>

      <div class="card-event-details">
        <div class="card-event-data">
          <span *ngIf="event.type === GOAL_ASSIST_EVENT_ID">
            {{ event.details.scorerPlayerFirstName }} {{ event.details.scorerPlayerLastName }}
            <br>
            <span *ngIf="event.details.assistPlayerFirstName && event.details.assistPlayerLastName">
              {{ event.details.assistPlayerFirstName }} {{ event.details.assistPlayerLastName }} (Assist)
            </span>
          </span>
          <span *ngIf="event.type === CARD_EVENT_ID">
            {{ event.details.playerFirstName }} {{ event.details.playerLastName }}
          </span>
          <span *ngIf="event.type === SUBSTITUTION_EVENT_ID">
            In: {{ event.details.enteringPlayerFirstName }} {{ event.details.enteringPlayerLastName }}
            <br>
            Out: {{ event.details.exitingPlayerFirstName }} {{ event.details.exitingPlayerLastName }}
          </span>
        </div>
        <div class="right-container">
          {{ event.details.teamName }}
        </div>
      </div>
    </mat-card>
  </div>
    
  <div class="timeline" *ngIf="isTimeLineView">
    <div class="checkpoint" *ngFor="let event of matchEvents">
      <div class="home-team-event" *ngIf="event.details.teamId  === homeTeamId">
        <div class="container" *ngIf="event.type === GOAL_ASSIST_EVENT_ID">
          <span> {{ event.details.scorerPlayerFirstName.substring(0, 1) }}. {{ event.details.scorerPlayerLastName }} </span>
          <fa-icon [icon]="footballIcon"></fa-icon>
          <span class="event-minute"> {{event.details.minute}}' </span>
        </div>
        <div class="container" *ngIf="event.type === CARD_EVENT_ID">
          <span> {{event.details.playerFirstName.substring(0, 1)}}. {{event.details.playerLastName}} </span>
          <div *ngIf="event.details.cardType == 'YELLOW' || event.details.cardType == 'SECOND_YELLOW'" class="square-small yellow">
            <div *ngIf="event.details.cardType == 'SECOND_YELLOW'" class="square-small-second-yellow"></div>
          </div>
          <div *ngIf="event.details.cardType == 'RED'" class="square red"></div>
          <span class="event-minute"> {{event.details.minute}}' </span>
        </div>
        <div class="container" *ngIf="event.type === SUBSTITUTION_EVENT_ID">
          <div class="icon-container middle">
            <i class="bi bi-arrow-up"></i>
            <i class="bi bi-arrow-down"></i>
          </div>
          In: {{ event.details.enteringPlayerFirstName.substring(0, 1) }}. {{ event.details.enteringPlayerLastName }}
          Out: {{ event.details.exitingPlayerFirstName.substring(0, 1) }}. {{ event.details.exitingPlayerLastName }}
          <span class="event-minute"> {{event.details.minute}}' </span>
        </div>

        <div class="home-line"></div>
      </div>
      <div class="time-line-point"></div>
      <div class="away-team-event" *ngIf="event.details.teamId  === awayTeamId">
        <div class="container" *ngIf="event.type === GOAL_ASSIST_EVENT_ID">
          <span class="event-minute"> {{event.details.minute}}' </span>
          <fa-icon [icon]="footballIcon"></fa-icon>
          <span> {{ event.details.scorerPlayerFirstName.substring(0, 1) }}. {{ event.details.scorerPlayerLastName }} </span>
        </div>
        <div class="container" *ngIf="event.type === CARD_EVENT_ID">
          <span class="event-minute"> {{event.details.minute}}' </span>
          <div *ngIf="event.details.cardType == 'YELLOW' || event.details.cardType == 'SECOND_YELLOW'" class="square-small yellow">
            <div *ngIf="event.details.cardType == 'SECOND_YELLOW'" class="square-small-second-yellow"></div>
          </div>
          <div *ngIf="event.details.cardType == 'RED'" class="square red"></div>
          <span> {{event.details.playerFirstName.substring(0, 1)}}. {{event.details.playerLastName}} </span>
        </div>
        <div class="container" *ngIf="event.type === SUBSTITUTION_EVENT_ID">
          <span class="event-minute"> {{event.details.minute}}' </span>
          <div class="icon-container">
            <i class="bi bi-arrow-up"></i>
            <i class="bi bi-arrow-down"></i>
          </div>
          In: {{ event.details.enteringPlayerFirstName.substring(0, 1) }}. {{ event.details.enteringPlayerLastName }}
          Out: {{ event.details.exitingPlayerFirstName.substring(0, 1) }}. {{ event.details.exitingPlayerLastName }}
        </div>
        <div class="away-line"></div>
      </div>
    </div>
  </div>

</div>