.bout-container {
  display: flex;
}

.information-container {
  margin: 20px;
  padding: 20px;
  text-align: justify;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.information-container h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.information-container  ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

.information-container ul li {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  margin: 20px 20px 0 20px;
  justify-content: space-between;
  text-align: right;
}