/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --font: 'Lora', 'Helvetica Neue', 'sans-serif';
}

html, body { height: 100%; }

/* body { } */

.mat-typography { 
  margin: 0; 
  font-family: 'Lora', "Helvetica Neue", sans-serif;
}
