<div class="create-tournament-form-body">
  <div class="tournament-create-header">
    <span> Create Tournament </span>
    <button mat-icon-button class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form #tournamentForm="ngForm" (ngSubmit)="createTournament(tournamentForm)" method="post">
    <div class="form-field">
      <label for="tournament-name-field">Tournament name</label>
      <input type="text" [(ngModel)]="name" name="name" (ngModelChange)="onInputChange('name', name)" (focus)="isCompetitionNameFocused = true" (blur)="isCompetitionNameFocused = false" required>
      <div class="error-form" *ngIf="isCompetitionNameFocused && tournamentForm.controls['name'].errors?.['required']">
        Tournament name is required.
      </div>
      <div class="error-form" [hidden]="isCompetitionNameCorrect" *ngIf="isCompetitionNameFocused && form.controls['name'].errors?.['invalidCompetitionName']">
        Invalid tournament name.
      </div>
    </div>
    <div class="form-field">
      <label for="number-of-teams-field">Number of teams</label>
      <input type="number" [(ngModel)]="numberOfTeams" name="numberOfTeams" (ngModelChange)="onInputChange('numberOfTeams', numberOfTeams.toString())" (focus)="isNumberOfTeamsFocused = true" (blur)="isNumberOfTeamsFocused = false" required>
      <div class="error-form" *ngIf="isNumberOfTeamsFocused && tournamentForm.controls['numberOfTeams'].errors?.['required']">
        Number of teams is required.
      </div>
      <div class="error-form" [hidden]="isNumberOfTeamsCorrect" *ngIf="isNumberOfTeamsFocused && form.controls['numberOfTeams'].errors?.['invalidNumberOfTeams']">
        Invalid number of teams (must be: 4/8/16/32).
      </div>
    </div>
    <div class="form-field">
      <mat-form-field class="datepicker">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" name="startDate" (focus)="isStartDateFocused = true" (blur)="isStartDateFocused = false" (dateChange)="competitionStartDateValidator()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="error-form" *ngIf="isStartDateFocused && !isStartDateCorrect">
        Started date must be today or in future.
      </div>
    </div>
    <div class="form-field">
      <label id="radio-group-label">Choose tournament type: </label>
      <mat-radio-group aria-labelledby="radio-group-label" class="radio-button-group" [(ngModel)]="selectedType" name="selectedType" (ngModelChange)="onTypeChange()">
        <mat-radio-button *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="button-container">
      <button mat-raised-button type="submit" [disabled]="!isAddTournamentButtonEnable || !isStartDateCorrect || !isTypeSelected">Create tournament</button>
      <button mat-raised-button type="button" (click)="closePopup()">Cancel</button>
    </div>
  </form>
</div>

