<div class="league-matchweek-container">
  <div class="league-matchweek-info">
    <h3>
      <i class="bi bi-chevron-left" [ngClass]="{'matchweek-first-or-last': matchweekNumber === 1}" (click)="matchweekNumber > 1 && previousMatchWeek()"></i> 
        <span class="matchweek"> Matchweek {{ matchweekNumber }} </span> 
      <i class="bi bi-chevron-right" *ngIf="lastMatchWeekNumber" [ngClass]="{'matchweek-first-or-last': matchweekNumber === lastMatchWeekNumber}" (click)="matchweekNumber < lastMatchWeekNumber && nextMatchWeek()"></i>
    </h3>

      <div class="jump-to-btn-container">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Jump</button>
        <mat-menu class="jump-to-matchweek-menu" #menu="matMenu">
          <div *ngFor="let matchweekNumber of matchweeks">
            <button mat-menu-item (click)="jumpToMatchweek(matchweekNumber)">{{ matchweekNumber }}</button>
          </div>
        </mat-menu>
      </div>
  </div>
  
  <div class="league-matches-container">
    <mat-list>
      <ng-container *ngFor="let match of leagueMatchesData">
        <mat-list-item class="list-item" *ngIf="match.matchweek === matchweekNumber && match.homeTeamId && match.awayTeamId">
          <div matListItemTitle class="match-container">
            <div class="team-info">
              <div class="team">
                <span class="team-name">{{ match.homeTeamName }}</span>
              </div>
              <div class="team">
                <span class="team-name">{{ match.awayTeamName }}</span>
              </div>
            </div>
            <div class="team-info">
              <div class="score">
                <span class="team-score">{{ match.homeTeamScore }}</span>
              </div>
              <div class="score">
                <span class="team-score">{{ match.awayTeamScore }}</span>
              </div>
            </div>
            <div class="match-details-container">
              <div class="match-date">
                <span>Date: {{ match.date | date: 'dd-MM-yyyy HH:mm' }}</span>
              </div>
              <div class="match-buttons">
                <i class="bi bi-pencil-square" *ngIf="!match.matchProtocolCreated" (click)="fillMatchProtocol(match)"></i>
                <i class="bi bi-info-square" *ngIf="match.matchProtocolCreated" (click)="showMatchDetails(match)"></i>
              </div>
            </div>
          </div>
      </mat-list-item>
      </ng-container>
      <ng-container *ngFor="let match of leagueMatchesData">
        <mat-list-item *ngIf="match.matchweek === matchweekNumber && (!match.homeTeamId || !match.awayTeamId)">
          <span class="team-pause" matListItemTitle *ngIf="match.homeTeamId && match.matchweek == matchweekNumber">Pause: {{ match.homeTeamName }}</span>
          <span class="team-pause" matListItemTitle *ngIf="match.awayTeamId && match.matchweek == matchweekNumber">Pause: {{ match.awayTeamName }}</span>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  
</div>
