<div class="tournament-standing-bracket">
  <div class="tournament-tables-container" *ngIf="tournament && tournament.type === groupAndKnockout">
    
    <mat-tab-group>
      <mat-tab label="Tournament Group Stage">
        <div class="tournament-group">
          <div class="group-table" *ngFor="let group of tournamentStandingDataSource; let i = index">
            <h4>Group {{ convertGroupIdToLetter(group[0].groupId) }}</h4>
            <mat-table [dataSource]="group" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let team; let i = index">
                    {{ i + 1 }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="teamName">
                <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.teamName }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="matches">
                <mat-header-cell *matHeaderCellDef> Matches </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.matches }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="won">
                <mat-header-cell *matHeaderCellDef> W </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.wins }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="drawn">
                <mat-header-cell *matHeaderCellDef> D </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.draws }}
                </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="lost">
                <mat-header-cell *matHeaderCellDef> L </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.losses }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="goalsForAgainst">
                <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.goalsFor }} : {{ team.goalsAgainst }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="goalDifference">
                <mat-header-cell *matHeaderCellDef> +/- </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.goalsFor - team.goalsAgainst }}
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="points">
                <mat-header-cell *matHeaderCellDef> Pts </mat-header-cell>
                <mat-cell *matCellDef="let team">
                  {{ team.points }}
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="group-matches">
              <mat-list>
                <ng-container *ngFor="let match of tournamentGroupMatchesDataSource[i]">
                  <mat-list-item *ngIf="match.homeTeamId && match.awayTeamId">
                    <span matListItemTitle>{{ match.homeTeamName }} {{ match.homeTeamScore }} - {{ match.awayTeamScore }} {{ match.awayTeamName }}
                      <i class="bi bi-pencil-square" *ngIf="!match.matchProtocolCreated" (click)="fillMatchProtocol(match)"></i>
                      <i class="bi bi-info-square" *ngIf="match.matchProtocolCreated" (click)="showMatchDetails(match)"></i>
                    </span>
                    <span matListItemLine>Date: {{ match.date }}</span>
                  </mat-list-item>
                  </ng-container>
              </mat-list>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Tournament Bracket Stage">
        <div class="tournament-bracket">
          <div *ngFor="let roundMatches of tournamentBracketMatchesDataSource | keyvalue">
            <div class="round r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
              <div *ngFor="let match of roundMatches.value" class="bracket-game-r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
                <div class="team top win">
                  {{match.homeTeamName}}
                  <div class="score">
                    <span *ngIf="match.homeTeamScore"> {{match.homeTeamScore}} </span>
                    <span *ngIf="match.homeTeamScore === null"> - </span>
                  </div>
                </div>
                <div class="team bot loss">
                  {{match.awayTeamName}}
                  <div class="score">
                    <span *ngIf="match.awayTeamScore"> {{match.awayTeamScore}} </span>
                    <span *ngIf="match.awayTeamScore === null"> - </span>
                  </div>
                </div>
                <div class="connectors r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
                  <div class="top-line"></div>
                  <div class="clear"></div>
                  <div class="bottom-line"></div>
                  <div class="clear"></div>
                  <div class="vert-line"></div>
                  <div class="clear"></div>
                  <div class="next-line"></div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      
    </mat-tab-group>
  </div>

  <div *ngIf="tournament && tournament.type === singleElimination">
    <div class="round-headers-container">
      <div *ngFor="let match of tournamentBracketMatchesDataSource | keyvalue" class="round-header">
        <h4 *ngIf="getMatchesInRound(match.key + 1)*2 !== 0"> 1/{{getMatchesInRound(match.key + 1)*2}} </h4>
        <h4 *ngIf="getMatchesInRound(match.key + 1)*2 === 0"> Final </h4>
      </div>
    </div>
    <div *ngFor="let roundMatches of tournamentBracketMatchesDataSource | keyvalue">
      <div class="round r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
        <div *ngFor="let match of roundMatches.value" class="bracket-game-r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
          <div class="team top win">
            {{match.homeTeamName}}
            <div class="score">
              <span *ngIf="match.homeTeamScore"> {{match.homeTeamScore}} </span>
              <span *ngIf="match.homeTeamScore === null"> - </span>
            </div>
          </div>
          <div class="team bot loss">
            {{match.awayTeamName}}
            <div class="score">
              <span *ngIf="match.awayTeamScore"> {{match.awayTeamScore}} </span>
              <span *ngIf="match.awayTeamScore === null"> - </span>
            </div>
          </div>
          <div class="connectors r-of-{{ getMatchesInRound(roundMatches.key + 1)*2 }}">
            <div class="top-line"></div>
            <div class="clear"></div>
            <div class="bottom-line"></div>
            <div class="clear"></div>
            <div class="vert-line"></div>
            <div class="clear"></div>
            <div class="next-line"></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
