<div class="about-container">
  <div class="information-container">
    <h1>This module is designed for managing team and viewing various aspects of team activity.</h1>
    <ul>
      <li>Users can view the current matches in which a team is participating.</li> 
      <li>Information about past competitions is available if the tournament or league exists.</li>
      <li>
        Users are granted the capability to add players to a team, explore player data including their positions, 
        designate team captains, edit and remove players from the team.
      </li>
      <li>
        The statistics sub-page provides users with the ability to review club statistics. 
        This includes goal differentials, summaries of wins, draws, losses, as well as the total number of matches played in competitions.
      </li>
      <li>
        Moreover, the statistic page showcases the ongoing statistics within the league or tournament in which the team is engaged,
        offering insights into the current performance and standings.
      </li>
      <li>You can only delete teams that are not currently participating in any leagues or tournaments.</li>
    </ul>
  </div>
  <div class="button-container">
      <button mat-raised-button color="warn" (click)="openConfirmationPopup()">
      <i class="bi bi-trash3-fill"></i> Delete Team
  </button>
</div>

