<div class="about-container">
  <p>
    This module is designed for managing team and viewing various aspects of team activity. Users can view the current matches in which a team is participating. 
    Additionally, information about past competitions is available if the tournament or league exists.
    Users are also granted the capability to add players to a team, explore player data including their positions, designate team captains, and remove players from the team. 
    The statistics sub-page provides users with the ability to review comprehensive club statistics. This includes goal differentials, summaries of wins, draws, and losses, as well as the total number of matches played.
    Moreover, the statistic page showcases the ongoing statistics within the league or tournament in which the team is engaged, offering insights into the current performance and standings.
    You can only delete teams that are not currently participating in any leagues or tournaments.
  </p>
</div>
<button mat-raised-button color="warn" (click)="openConfirmationPopup()">
  <i class="bi bi-trash3-fill"></i> Delete
</button>
