<div>
  <div class="tournament-info-container">
    <div class="tournament-data-container" *ngIf="tournament">
      <h2> {{ tournament.name }} </h2>
      <h5> Start date: {{ tournament.startDate }} </h5>
      <h5 *ngIf="tournament.endDate"> End date: {{ tournament.endDate }} </h5>
    </div>
  </div>

  <div class="tournament-form-container">
    <form class="teams-form" *ngIf="numberOfTeams < maximumNumberOfTeams">
      <mat-form-field class="teams-field">
        <mat-label>Team</mat-label>
        <input #input type="text" placeholder="Choose team" matInput [formControl]="teamControl"
          [matAutocomplete]="auto" (input)="filter()" (focus)="filter()">
        <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayTeamName">
          <mat-option *ngFor="let team of filteredTeams" [value]="team" (click)="selectTeam()"
            (onSelectionChange)="isTeamSelected = false">
            {{ team.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button (click)="addTeamToTournament()"
          [disabled]="!isTeamSelected && numberOfTeams < maximumNumberOfTeams">Add team</button>
      </div>
    </form>

    <div *ngIf="numberOfTeams == maximumNumberOfTeams"></div>

    <div [ngClass]="{'tournament-form-counter': numberOfTeams < maximumNumberOfTeams}">
      <span> Number of Teams: {{ numberOfTeams }} / {{ maximumNumberOfTeams }}</span>
    </div>
  </div>

  <div class="tournament-teams-container">
    <mat-table [dataSource]="tournamentTeamDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef> Team Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="established">
        <mat-header-cell *matHeaderCellDef> Established </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.established | date: 'dd-MM-yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfPlayers">
        <mat-header-cell *matHeaderCellDef> Number of Players </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.numberOfPlayers }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="bi bi-chevron-right" (click)="showTeamDetails(element)"></i>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove" >
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="bi bi-trash3" (click)="removeTeam(element)"></i>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="tournament-teams-row"></mat-row>
    </mat-table>
  </div>

</div>