<mat-toolbar class="navbar" color="primary">
  <i class="bi bi-trophy"></i>
  <span class="example-spacer"></span>
  <h2>FTALM</h2>
  <span class="example-spacer"></span>
  <button mat-button class="button-link" routerLink="/home">
    Home
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="button-link" routerLink="/teams">
    Teams
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="button-link" routerLink="/tournaments">
    Tournaments
  </button>
  <span class="example-spacer"></span>
  <button mat-button class="button-link" routerLink="/leagues">
    Leagues
  </button>
</mat-toolbar>
