.navbar {
  background-color: rgb(127, 198, 245);
}

.between-button-spacer {
  margin: 0 5px;
}

.spacer {
  flex: 1;
}

.button-link:hover {
  background-color: rgb(127, 198, 245);
  border-radius: 15px;
}