.league-container {
  margin: 1% 3% 1% 3%;
}

.league-name-container {
  display: flex;
  justify-content: center;
}

.league-table-row:hover {
  background-color: aliceblue;
}

.mat-column-postion {
  flex: 0 0 3% !important;
}

.mat-column-teamName {
  flex: 0 0 34% !important;
}

.mat-column-won,
.mat-column-drawn,
.mat-column-lost {
  flex: 0 0 5% !important;
}

.mat-column-goalDifference,
.mat-column-points {
  flex: 0 0 8% !important;
}

.team-form-icon {
  margin: 0 1px;
}

.bi-check-circle-fill {
  color: green;
}

.bi-dash-circle-fill {
  color: gray;
}

.bi-x-circle-fill {
  color: red;
}

.bi-arrow-up-circle {
  color: green;
  margin-right: 5px;
}

.bi-arrow-down-circle {
  color: red;
  margin-right: 5px;
}


mat-header-cell {
  justify-content: center;
}

mat-cell {
  font-family: var(--font);
  justify-content: center;
}