.match-protocol-table {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  gap: 8px;
}

.match-protocol-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.item {
  text-align: center;
  padding: 8px;
}
