.button-container {
  margin: 20px;
}

.button-container > button {
  color: white;
  background-color: #45a049;
}

.button-container > button:hover {
  background-color: green;
}

.players-container {
  margin: 20px;
}

.players-row:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.bi-c-circle, .bi-plus-square, .bi-person-slash {
  font-size: 12px;
  margin-left: 2px;
  color: red;
}